<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceEmpresa" />
                <binding name="BasicHttpBinding_IServiceAtencion" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:27275/ServiceEmpresa.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceEmpresa"
                contract="ServiceEmpresa.IServiceEmpresa" name="BasicHttpBinding_IServiceEmpresa" />
            <endpoint address="http://localhost:27275/ServiceAtencion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceAtencion"
                contract="ServiceAtencion.IServiceAtencion" name="BasicHttpBinding_IServiceAtencion" />
        </client>
    </system.serviceModel>
</configuration>

